
<ion-content>
  <div class="login_cont"> 
    <div class="tabs">
      <div class="tab"><a href="signup">Register</a></div>
      <div class="tab active"><a href="login">Login</a></div>
    </div>
  <form novalidate [formGroup]="loginForm"  (ngSubmit)="save()">
      <div *ngIf="hasProblem" class="top_error">Login Failed!</div> 
        <div class="input_wrap">
          <label>Email</label>
          <ion-input formControlName="email" type="email" ngModel required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
        </div>
        <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          Email is required
       </div>
        <div class="error" *ngIf="(loginForm.get('email').hasError('pattern') ||loginForm.get('email').hasError('email')) && loginForm.get('email').touched">
          Please enter valid email
      </div>
        <div class="input_wrap">
          <label>Password</label>
          <ion-input formControlName="password" type="password" ngModel required></ion-input>
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Please enter your password
       </div>
        <a class="forgot" routerLink='/forgotpass'>Forgot Password?</a>
        <button class="form-button"  type="submit" expand="block">Login</button>
        <div class="line"><span>or</span></div>
        <a class="facebook_link" (click)="facebookLogin()">Continue with Facebook</a>
  </form>   
</div>
 </ion-content>
 