/*ion-footer {
    background:#3EC9FF;
    color:#fff;
    text-align:center;
    padding:0px;
    min-height: 120px;
    a {
        color:#fff;
        font-size: 40px;
        text-decoration: none;
        padding:10px 2px;
    }
}

.error {
    font-size: 12px;
    padding: 0px 4px;
    width: 100%;
    text-align: left;
    color: #ff0!important;
    display: block;
}
ion-button, button {
    margin:5px auto;
    width:100%;
    background-color: #3ec9ff;
    border-radius: 5px;
    box-shadow: none;
    padding:12px 10px;
    color:#fff;
    font-size:16px;
    text-transform: uppercase;
}

ion-input {
    --background:#0056bd;
    color:#fff;
    border-radius: 5px;
}

.input-item{
    --background:#0056bd;
    color:#fff;
    border-radius: 5px;
    border:none;
    margin: 8px 0;
}


.email {
    --background: url('/../assets/images/phone.png') #0056bd 10px 10px/8% 60% no-repeat;
}

.pass {
    --background: url('/../assets/images/pass.png') #0056bd 10px 10px/6% 55% no-repeat;
}
ion-back-button {
    display:inline-block!important;
}

ion-input{
    --placeholder-color: white;
    --placeholder-opacity: 1;
     font-size:14px;
     margin-left:40px;

}
*/
ion-content{--background: #ffffff;}
.login_cont{
    margin:40px 6%;
    background:#ffffff url('./../../../assets/images/mini_logo.png') no-repeat 50% 0;
    background-size: 30px 30px;
    padding-top: 55px;
    .form-button{
        display: block;
        width:80%;
        background: #3EC9FF;
        color: #ffffff;
        text-transform: none;
        margin: 0 auto;
        text-align: center;
        font-family:Lato;
        font-size: 20px;
        line-height: 50px;
        height: 50px;
        border-radius: 25px;
    }
}
.tabs{
    margin-bottom: 35px;
    .tab{
        width:40%;
        margin: 0 5%;
        padding-bottom: 5px;
        text-align: center;
        display: inline-block;
        a{
            font-family:Lato;
            font-weight: bold;
            font-size: 24px;
            color: #777777;
            display: inline-block; 
            text-decoration: none;
        }
    } 
    .tab.active{    
        border-bottom: 3px solid #0C67FE;
        a{
            color: #231F20;
        }
    }
}
.input_wrap{
    margin:35px 3% 10px;
    border-bottom:1px solid #000000;
    label{
        font-family:Lato;
        font-size: 18px;
        color: #231F20;
        display: block;
    }
    ion-input{
        --background:none;
    }
}
.error{
    color:red;
    font-size: 12px;
    margin: 0 3%;
}
.top_error{
    color:red;
    text-align: center;
}
.forgot{
    font: Medium 18px/24px Lato;
    color: #231F20;
    display: block;
    text-decoration: none;
    margin: 25px 3%;
}
.line{
    border-top:1px solid #CCCCCC;
    text-align:center;
    margin:45px 3% 15px;
    span{
        position: relative;
        top:-10px;
        color:#cccccc;
        background: #ffffff;
        padding: 0px 8px; 
    }
}
.facebook_link{     
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
.facebook_link:before{
    position: relative;
    content: "";
    display: inline-block;
    width:30px;
    height: 24px;
    background: url(./../../../assets/images/fb_icon.png) no-repeat;
    background-size: contain;
    top:2px;
}