
  <ion-content class="colored-bg">
    <ion-row justify-content-center>
        <img src="/assets/images/logo.png" >
      </ion-row>    
      <ion-row justify-content-center align-items-center class="hp-buttons">
              <ion-row><ion-button class="form-button" expand="block" href="signup">Signup</ion-button></ion-row>
              <ion-row><ion-button class="form-button" expand="block" href="login">Login</ion-button></ion-row>
      </ion-row>
    </ion-content>
    