$main-color:#0C67FE;

ion-row { width:100%;

    h1 {
        color:$main-color;
        font-size: 42px;
        padding: 20px 10px;
        font-weight: bold;
        text-align: center;
    }

    img {
        width:100%;
        height: auto;
        margin:0 auto 10%;        

        }
    ion-button {
        width: 50%;
        min-width: 200px;
    }
    ion-row {
        text-align: center;
    }
}

.hp-buttons {
    margin-top:5%;
}
@media (min-width: 380px){
    ion-button {
        height: 50px;
        font-size: 20px;
    }
}
