    
   <!--   <ion-content class="colored-bg">
    
              <form novalidate [formGroup]="user" (ngSubmit)="save()" >
                  <ion-grid>
                    <ion-row justify-content-center >
                      <ion-col size-xs="12">
                        <ion-back-button defaultHref="mainlogin"></ion-back-button>
                        <div text-center>
                          <h3 class="pageTigle">Register</h3>
                        </div>
                        <div *ngIf="alreadyThere" text-center>You already have an account<br/>
                          <a routerLink='/login'>click here to login</a></div>
                        <div *ngIf="hasProblem" text-center>There was a problem signing you up, please try again later or contact support.</div>  
                          <ion-item class="input-item name">
                            <ion-input  formControlName="name" type="text" placeholder="Name" required></ion-input>
                          </ion-item>
                          <ion-item class="input-item email">
                            <ion-input formControlName="email" type="email" placeholder="Email Address" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
                          </ion-item>

                          <ion-item class="input-item pass">
                            <ion-input formControlName="password" type="password" placeholder="Create a Password" required ></ion-input>
                          </ion-item>
                          <ion-row><button class="form-button" type="submit" expand="block">Register</button></ion-row>
                          <ion-grid>
                            <ion-row class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                Name is required
                            </ion-row>
                          <ion-row class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Email is required
                          </ion-row>
                            
                            <ion-row class="error" *ngIf="(user.get('email').hasError('pattern') ||user.get('email').hasError('email')) && user.get('email').touched">
                                Please enter valid email
                            </ion-row>
                            <ion-row class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                                  Password is required
                            </ion-row>
                              <ion-row class="error" *ngIf="user.get('password').hasError('minlength')  && user.get('password').touched">
                                <br/>Password should be at least 8 characters long
                              </ion-row>
                          </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>
                <div class="btn_container">
                  <button ion-button full (click)="facebookLogin();">Login with Facebook</button>
                </div>
    </ion-content>
   
  -->
    <ion-content>
      <div class="login_cont"> 
        <div class="tabs">
          <div class="tab active"><a href="signup">Register</a></div>
          <div class="tab"><a href="login">Login</a></div>
        </div>
        <form novalidate [formGroup]="user" (ngSubmit)="save()" >
          <div *ngIf="alreadyThere"  class="top_error">You already have an account <a routerLink='/login'>click here to login</a></div>
          <div *ngIf="hasProblem"  class="top_error">There was a problem signing you up, please try again later or contact support.</div> 
          <div class="input_wrap">
            <label>Name</label>
            <ion-input  formControlName="name" type="text" required></ion-input>            
          </div>
          <div class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
            Name is required
        </div>
            <div class="input_wrap">
              <label>Email</label>
              <ion-input formControlName="email" type="email" ngModel required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            </div>
            <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
              Email is required
           </div>
            <div class="error" *ngIf="(user.get('email').hasError('pattern') ||user.get('email').hasError('email')) && user.get('email').touched">
              Please enter valid email
          </div>
            <div class="input_wrap">
              <label>Password</label>
              <ion-input formControlName="password" type="password" ngModel required></ion-input>
            </div>
            <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                Password is required
            </div>
            <div class="error" *ngIf="user.get('password').hasError('minlength')  && user.get('password').touched">
              Password should be at least 8 characters long
            </div>
            <button class="form-button" type="submit" expand="block">Register</button>
           <div class="line"><span>or</span></div>
            <a class="facebook_link"  (click)="facebookLogin()" >Continue with Facebook</a>
      </form>   
    </div>
 </ion-content>
     
  