
  <ion-content>

    <ion-row class="top-tabs" >
        <ion-col  col-2 [class.active]="allstores">
           <div [class.active]="allstores" (click)="viewall()">View All Stores</div>
        </ion-col>
        <ion-col *ngIf="hasCloseStores"  col-2 class="r_col" [class.active]="closestores">
           <div [class.active]="closestores" (click)="findstores()">Stores Near Me</div>
        </ion-col>
     </ion-row> 
     <div *ngIf="filtered">
         <div *ngIf="filtered.length==0" style="padding:10px 20px;">
               There are no stores near you right now.
        </div>   
     <div class="store" *ngFor="let store of filtered; let i = index">
        <div class="store-icon"><img src="{{imagepath}}{{store.id}}.jpg"  
            [style.display]="error[i] ? 'none' : 'block'"
            (error)="error[i] = true">
            <span [ngStyle]="{'background': '#'+store.bg_color}" [style.opacity]="error[i] ? 1 : 0"></span>
         </div>
         <div class="store-detail">
              <p class="title">{{store.name}}</p>
              <p class="address">{{store.address}},{{store.city}}, {{store.state}}, {{store.zip}}</p>
         </div>
   </div>
     </div>
     <div *ngIf="!filtered">
         Loading... <ion-spinner name="bubbles"></ion-spinner>
    </div>   
     
  </ion-content>