$main-color:#0C67FE;

ion-row { width:100%;

    h1 {
        color:$main-color;
        font-size: 42px;
        padding: 20px 10px;
        font-weight: bold;
        text-align: center;
    }

    img {
        width:100%;
        height: auto;
        margin:0 auto 10%;
        

        }

    ion-button {
        width:250px;
    }

    ion-row {
        text-align: center;
    }

}

.top-tabs {
    font-size:13px;
    font-weight: bold;
    background: #eff1f2;
    color:#aaa;
    cursor: pointer;
    ion-col {
        padding:20px 10px;
        text-align: center;
      }
   .active {
        color:#0c67EF;
        background:#fff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.store{
    display:flex;
    flex-flow: row;
    align-content: flex-start ;
    margin: 8px 0px;
    padding: 8px 15px;
    .store-icon{
        width:50px;
        height:50px;
        img{
            width:100%;
            border-radius: 5px;
        }
        span{
            width:40px;
            height: 40px;
            display: inline-block;
            border-radius: 5px;
        }
    }
    .store-detail{
        margin-left: 15px ;
        p{
            margin:0;
            padding: 0;
        }
        .title{
            font-weight: bold;
            line-height: 20px;            
        }
        .address{
            color:#a7a9ac;
            font-size:14px;
        }
    }
}