.deal_details{
    margin: 0;
    padding: 10px;
    .itemimage{
        height: 200px;
        text-align: center;
        display: block;
        margin: 20px auto 0px;
    }
    ion-grid{
        padding: 0;
        margin: 15px 20px 15px;
        ion-col {
                padding:0px;
                }
        h3{
            font-size:28px;
            color:#4a4a4a;
            font-weight: bold;
            margin: 0;
        }
        .item_brand, .item_name{
            display: block;
            color:#666;
            padding: 0;
            margin: 0;
            margin-top:15px;
            font-size: 18px;
        }
        .item_desc{
            margin-top:10px;
            font-size:12px;
        }
        .info{
            color:#d1d1d1;
            font-size: 16px;
            margin-top:15px;
            width: 100%;
       }
        .expires{
            margin-top:auto;
        }
       .icons{
            flex: 0 0;
        }
        .icon{
            width:37px;
            display: block;
            margin-top: 20px;
            button{
                background:none;
            }
        }
    }   
    .renewthis {
        //    background: url(/../../../../assets/images/renew.png) no-repeat 50% 0;
        margin: 0px auto;
        font-size: 13px;
        color: #f22;
        font-weight: bold;
        display: block;
        padding-top: 2px;
        }
}




