<ion-content  has-tabs="true">
    <div class="deal_details">
        <ion-img src="{{imagepath}}{{item_id}}.jpg" class="itemimage"></ion-img>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3>Save ${{coupon_value}}</h3>
                    <ion-label class="item_brand">
                        <span [outerHTML]="client_name"></span>
                        <br/>
                        <span [outerHTML]="name"></span>
                    </ion-label>
                    <div class="renew"  *ngIf="(hours_past >=23 && inlist=='Y')">
                            <a (click)="renewCoupon(coupon_id)" class="renewthis" >
                                Renew Coupon
                            </a>  
                    </div>
                </ion-col>
                <ion-col class="icons">
                    <div class="icon" style="margin-top:0px;">
                        <div class="check_wrapper" *ngIf="(inlist=='Y')"> 
                            <div class="check"></div>
                        </div>
                        <button ion-button (click)="addCoupon(id)" class="addthis" *ngIf="(inlist=='N' && uses_left(limit_per_user, coupon_uses) > 0)">
                            <ion-img src="../assets/images/add-a.png" ></ion-img>
                        </button>
                    </div>
                    <div class="icon">
                            <button ion-button *ngIf="has_alert=='N'" name="alert" (click)="addAlert(item_id)" >
                                <ion-img src="../assets/images/bell.png" ></ion-img>
                            </button>
                            <button ion-button *ngIf="has_alert=='Y'" name="alert" (click)="removeAlert(item_id)" >
                                <ion-img src="../assets/images/bell-a.png" ></ion-img>
                            </button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                    <div class="item_desc">{{description}}</div>
                    <div *ngIf="limit_per_user==uses_left(limit_per_user, coupon_uses) && limit_per_user > 0 else remaining" class="info">Limit of {{limit_per_user}} per user</div>
                    <ng-template #remaining><div class="info" *ngIf="limit_per_user > 0" >{{uses_left(limit_per_user, coupon_uses)}} remaining uses</div></ng-template>
                    <div class="info expires" [class.soon]="soon > 0">{{soon_date}}</div>
            </ion-row>
        </ion-grid>     
            
       <div><ion-button class="form-button" expand="block" (click)="goback()" >Back to Coupon List</ion-button></div>
    </div>
</ion-content>

