
<ion-content class="take_pic_scrn">  
  <div *ngIf="picture && !preview">
    <div class="cropTools">
        <button ion-button class="reset" (click)="reset()">
          Reset
        </button>
        <button ion-button icon-only  (click)="clear()">
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button icon-only (click)="save()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </div>
        <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="picture" ></angular-cropper>    
  </div>

  <div class="pic_frame_wrapper" [ngStyle]="{'height': pic_frame_height, 'padding-bottom':pic_frame_padding}">
    <div class="clip_wrapper" *ngIf="latestScan">
        <img id="clip" src="{{latestScan}}"/>
    </div>
    <div *ngIf="preview || startCamera" class="pic_frame" [ngStyle]="{'margin-top': start_pic_frame}">
        <ion-img *ngIf="preview && picture" src="{{picture}}"></ion-img>
        <span class="side_txt top" >Top of Receipt</span>
        <span class="side_txt bottom">Long receipt?<br>Add more sections in the next step</span>
        <span class="side_txt left">Receipt Edge</span>
        <span class="side_txt right">Receipt Edge</span>       
    </div>
  <div class="actions" >
    <div class="action_col right_align">
        <div  *ngIf="startCamera"><span class="cancel" (click)="exitCamera()"> Cancel </span></div>
        <div *ngIf="preview && picture"><ion-button fill="clear" (click)="confirmPicture()" class="ok">OK</ion-button></div>
        <div><span *ngIf="startCamera" (click)="exitCamera()" class="exit"></span></div>
    </div>
    <div class="action_col camera_wrap">
        <ion-button  *ngIf="startCamera"  fill="clear" (click)="takePicture()"  slots="icon-only" class="camera">Take Photo</ion-button></div>    
    <div *ngIf="!startCamera" class="action_col" ><ion-button fill="clear" (click)="newPic()">RETRY</ion-button></div>
    
  </div>
</div>
  

</ion-content>