ionlab-device-frame .frame-container iframe {
  background: transparent!important;
}
.take_pic_scrn{
  .pic_frame_wrapper{
    border-top: #9d9f9f 10px solid;
    border-top: 10px solid rgba(0, 0, 0, .5);
    border-right: #9d9f9f 20px solid;
    border-right: 25px solid rgba(0, 0, 0, .5);
    border-left: #9d9f9f 20px solid;
    border-left: 25px solid rgba(0, 0, 0, .5);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .pic_frame{
      border:#3EC9FF 1px solid ;
      border-bottom: none;
      height: 100%;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      --background:transparent;
    }
    .pic_frame:before, .pic_frame:after{
      border-top:3px solid #3EC9FF;
      border-left:3px solid #3EC9FF;
      height:20px;
      width:20px;
      position:absolute;
      display:block;
      content: "";
      top:-2px;
      left:-2px;
    }
    .pic_frame:after{
      border-left:none;
      border-right:3px solid #3EC9FF;
      left:auto;
      right:-2px;
    }
    .side_txt{
      position: absolute;      
      top:50%;
      font-size: 13px;
      text-align: center;
      width:90px;
      color:#ffffff;
      -webkit-transform-origin: 50%  51%;
      transform-origin: 50%  51%;
    }
    .side_txt.top{
      top:10px;
      width:100%;
    }
    .side_txt.bottom{
      bottom:25px;
      top:auto;
      width:100%;
    }
    .side_txt.left{
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left:-55px;
    }
    .side_txt.right{
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right:-55px;
    }
  } 
  .actions{
    position: absolute;
    background: #000000;
    bottom: 0px;
    left:0px;
    right:0px;
    height: 80px;
    display:flex;
    .action_col{
      flex: 0 0 25%;
        ion-button {
          display: inline-block;
          width:auto;
          color:#ffffff;
          text-transform: capitalize;
        }
      }
      .exit{
        width: 8px;
        height: 8px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        transform: rotate(45deg);
        display: inline-block;
      }
      div.camera_wrap{
        flex: 0 0 50%;
        text-align: center;
        ion-button {
          font-size:12px
        }
        .camera{   
          padding-top: 48px;
          height: auto;
          font-size: 11px;
          color:#3EC9FF;
          display:block;
          background: url('/../../../../assets/images/camera_btn.png') no-repeat 50% 0;
          background-size: 45px;
      }
    }
  }
  div.right_align, div.right_align div{
    text-align:right;
    color:#ffffff;
    span{     
      display: inline-block;
    }
    .cancel{
      margin-bottom: 18px;
      margin-top: 10px;
    }
    .ok{
      color:#3EC9FF;
    }
  }
  .clip_wrapper{
    position: absolute;
    margin: -10px 0px 0px -25px;
    display: inline-block;
    height:40px;
    border-bottom: 1px dashed #ffffff;
    overflow: hidden;
    width:100%;
    img{
      position: relative;
      top: 100%;
      transform: translateY(-100%);
      width: calc(100% - 50px);
      margin: 0 25px;
    }
  }
}
app-ar ion-content {
  --background: transparent;
}
ion-content{
  --background: transparent;
}
page-new-scan {
    .camera-content {
      background-color: transparent !important;
      visibility: visible;
    }
    .card-title {
      position: absolute;
      top: 0%;
      width: 100%;
      height: 100%;
    }
  }

.cropTools { 
    background: transparent;
    display: flex;
    button {
      background: #3EC9FF;
      color: #fff;
      border: 2px solid;
      padding: 7px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      height: 45px;
      margin-top:12px;
      margin-bottom:12px;
      margin-right:12px;
    }
    button.reset{
      margin-right: auto;
      margin-left: 12px;
    }
}