
<ion-tabs >
  <div *ngIf="!cameraon">
  <ion-tab-bar title="tabs" slot="bottom" >
    <ion-tab-button tab="deals"  class="deals"  [class.active]="dealson">
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists" class="lists" [class.active]="liston">
      <ion-label >Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="redeem" class="redeem" [class.active]="redeemon">
      <ion-label >Redeem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" class="account" [class.active]="accounton"> 
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stores" class="stores" [class.active]="storeson"> 
      <ion-label>Stores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  </div>
</ion-tabs>
