
<ion-content>
<div *ngIf="!infoIn">
    Processing your receipt... <ion-spinner name="bubbles"></ion-spinner>
</div>   

<div *ngIf="!message; then gotcash else notfound"></div>    
        
<ng-template #notfound> 
    <p *ngIf="!add_review" class="problems">
      {{message}}
      <br/><br/>Having some problems?
    <br/><br/><button class="form-button form-review" (click)="review()">Uh oh, did we miss something?</button></p>
</ng-template>

<ng-template #gotcash>

<div *ngIf="!confirmed_r && infoIn">
    <h3>Cha Ching!<br/>
      Look what we found!</h3>    
    <div class="coupon_info" *ngFor="let coupon of coupons;" >
          <img src="{{imagepath}}{{coupon.item_id}}.jpg">
          <span>
           <h3>You earned ${{coupon.coupon_total}}</h3> 
           <div class="qty_line" *ngIf="coupon.coupon_uses > 1">{{coupon.coupon_uses}} coupons X {{coupon.coupon_value}}</div>
           <br/>{{coupon.item_name}}
           <br/>{{coupon.brand}}
          </span>
   </div>
   <p class="set">All set?</p>
    <button class="form-button" (click)="confirmed()">Submit</button>
    <p class="problems">Having some problems?</p>
    <button class="form-button form-review" (click)="review()">Uh oh, did we miss something?</button>
  </div>   
</ng-template> 

<div *ngIf="confirmed_r" class="confirmed">
     <img src="./../../../assets/images/coins.png">
     <p>You just earned<br/>${{coupon_sum}}</p>
     <p class="small">Don’t spend it all in one place. Or do, it’s yours.</p>
     <button class="form-button" (click)="goshopping()">Let’s go shopping again</button>
</div>

<div *ngIf="add_review" class="add_review">
    <form novalidate [formGroup]="new_review" (ngSubmit)="adding_review()" >
    <img src="./../../../assets/images/review.png">
    <p>So sorry that there is a problem</p>
    <p class="small">Please let us know what the problem is, don’t worry your receipt has been saved.</p>
    <p class="error" *ngIf="new_review.get('comments').hasError('required') && new_review.get('comments').touched">
        Please type your message
    </p>
           <ion-textarea placeholder="Enter more information here..."  formControlName="comments"></ion-textarea>
           <ion-row><button class="form-button"  type="submit" expand="block">Submit</button></ion-row>
    </form>        

</div>
</ion-content>
