ion-content {
    text-align:center;
}

h3 {
    color: #0C67FE;
    font-size:22px;
    font-family: Lato;
    line-height: 28px;
    font-weight: bold;
    padding: 0;
    margin: 50px 0px 20px;
}

p.set {
        color:#231F20;
        font-weight: bold;
        font-size:20px;
        border-top: 1px solid #E2E2E2;
        margin: 0;
        padding: 30px 0 5px;
}

.form-button{
    display: block;
    width: 80%;
    background: #0C67FE;
    color: #ffffff;
    text-transform: none;
    margin: 0 auto;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 300px;
}

.form-review{
    background:#A6A8AB;
    font-size:16px;
}

.problems {
    color:#666666;
    font-size:25px;
    margin:50px 10px 5px;
}

.confirmed {
    img {
        max-width: 80%;
        margin: auto;
        max-height: 330px;
    }
    p{
        color:#0C67FE;
        font-weight: bold;
        font-size:20px;
        padding:0 20px;
    }

}

.coupon_info {
    border-top: 1px solid #E2E2E2;
    padding: 10px;
    text-align: left;
    display:flex;
    img {
        max-height: 85px;
        max-width: 85px;
        margin-right: auto;
        margin: 0 10px;
        vertical-align: middle;
        display: inline-block;
    }
    span {
        margin: 0 10px 0 5px;
        align-self: center;
        color: #666666;
        font-size:13px;
        h3 {
            font-size: 18px;
            color: #4A4A4A;
            margin: 0 0 8px;
            line-height: 26px;
        }
    }
}
.add_review {
    p {  
        color: #4A4A4A;
        font-weight: bold;
        font-size:20px;
        text-align: center;
        padding: 0 20px;
    }    
    .small{
        color:#666666;
        font-weight: normal;
        font-size:14px;
        text-align: center;
        margin: 20px auto 26px;
    }
    img {
        max-width: 80%;
        margin: 36px auto 0px;
        max-height: 100px;
    }
    ion-textarea
    {
        --border-radius: 15px;
        border: 2px solid #A6A8AB;
        margin: 10px auto;
        width: 85%;
        text-align: left;
        min-height: 200px;
        border-radius: 15px;
    }
    .error{
        color:red;
        font-size: 12px;
        margin: 0 3%;
        line-height: 20px!important;
        text-align: left;
      }
}

.problem {  
    color: #4A4A4A;
    font-weight: bold;
    font-size:20px;
    text-align: center;
}    
.small{
    color:#666666;
    font-weight: normal;
    font-size:14px;
    text-align: center;
}

.qty_line{
    margin-top: 12px;
    color: #0C67FE;
}
