ion-row {
    h2 {
        color:#0C67FE;
    }
    strong{
      display: inline-block;
      width:42%;
      margin-top:7px;
      font-size:12px;
    }
    ion-input {
      float: right;
      width: 155px;
      border: 1px solid;
      height: 33px;
      font-size: 12px;
      padding: 2px 4px!important;
    }
    span {
      display:inline-block;
      font-size: 12px;
      margin-top:7px;
    }
    margin-top:5px;
 }

 .error{
  color:red;
  font-size: 12px;
  margin: 0 3%;
  line-height: 20px!important;
}

.progress{
    padding:0px 20px!important;
}

  ion-progress-bar {
    height: 32px;
    border-radius: 15px;
    border: 2px solid #0C67FE;
    --progress-background : #0C67FE;
    --background:#fff;
  }

.earnings {
    
    font-size: 40px;
    text-align: left;
    line-height: 60px;

}

ion-card-title{
    color: #0C67FE;
    font-size: 18px;
}
.desc {
      padding:0px 20px;
      font-size: 13px;
      color:#666666;
      margin-bottom:13px;
}

.progress-outer { 
  width: 96%; 
  margin: 10px 2%; 
  padding: 3px; 
  text-align: center; 
  background-color: #fff; 
  border: 1px solid #0C67FE; 
  color: #fff; 
  border-radius: 20px; 

} 

.progress-inner { 
  min-width: 15%; 
  white-space: nowrap; 
  overflow: hidden; 
  padding: 5px; 
  border-radius: 20px; 
  background-color: #0C67FE; 

}

ion-card {
  box-shadow:none;
  border-top : 3px solid #f1f1f2;
  padding: 0;
  margin:0;
  color:#666666;
  ion-card-header{
    display: flex;
    align-items: flex-end;
    ion-icon{
      margin-left: auto;
      font-size: 25px;
    }
  }
  
    ion-card-content {
      padding-bottom: 0px;
      p{
        font-size:12px!important;
        line-height: 35px;
      }
      img.edit {
        width:20px;
        position: absolute;
        right: 20px
      } 
    }
}

.rec_info{
  display:flex;
  flex-flow: row;
  align-content: flex-start ;
  margin: 8px 0px;
  padding: 8px 15px;
  color:#a7a9ac;
  font-size:14px;
  margin:0;
  padding: 8px 0;
  border-bottom: 1px solid;
  .rec-detail{
      margin-left: 15px ;
      label{
          font-weight: bold;
          line-height: 20px;   
          color:#444;         
      }
      
  }
}

.form-button-account {
    margin: 10px auto;
    padding: 10px 18px;
    border-radius: 5px;
    background: #0C67FE;
    color: #fff;
    font-size: 15px;
}



.bottomlink a{
  color:#0C67FE;
}

