
<ion-content>

    <ion-row justify-content-center class="card-row" >
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <ion-img src="../assets/images/hand.png" ></ion-img>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <div *ngIf="info.total_coupons_amount > 0; then earned else noearn"></div>    

      <ng-template #noearn>
          <ion-row justify-content-center >
              <h2>No pending earnings</h2>
          </ion-row>
          <ion-row class="desc">
              Collect coupons from your deal list, some explanation should show here
         </ion-row>
          
      </ng-template>  
      <ng-template #earned>
      <ion-row justify-content-center >
        <h2>Your earnings</h2>
      </ion-row>
      <ion-row justify-content-center class="progress">
              <ion-progress-bar  value="{{progress}}"></ion-progress-bar>
     </ion-row>

     <ion-row class="desc">
        <div class="earnings">${{info.total_coupons_amount}}</div>
        As soon as you hit $50, your rewards will cash out automatically. We will deposit the money to your paypal account {{info.paypal_email}}
     </ion-row>

    </ng-template>


    <ion-card>
      <ion-card-header (click)="account_info()">
              <ion-card-title>Account Information</ion-card-title>
              <ion-icon name="arrow-dropright" *ngIf="!showAccount"></ion-icon>
              <ion-icon name="arrow-dropdown" *ngIf="showAccount"></ion-icon>
      </ion-card-header>        
    
    <ion-card-content *ngIf="showAccount">
        <form novalidate [formGroup]="updateInfo"  (ngSubmit)="edit()" >
            <p class="error" *ngIf="updateInfo.get('repeat_password').hasError('equalTo') && updateInfo.get('repeat_password').touched">
                Password Mismatch
            </p>
            <p class="error" *ngIf="updateInfo.get('name').hasError('required') && updateInfo.get('name').touched">
                Name is required
            </p>
            <p class="error" *ngIf="passMessage.length > 0">
                {{passMessage}} 
            </p>
                     <a (click)="editInfo()" *ngIf="!editinfo"><img src="../assets/images/edit.png" class="edit"/></a>
                      
                     <ion-row><strong>Name:</strong>&nbsp;<span *ngIf="!editinfo" >{{info.name}}</span>  
                      <ion-input *ngIf="editinfo"  formControlName="name" ngModel type="text" [(ngModel)]="info.name"></ion-input></ion-row>
                      
                      <ion-row><strong>Email:</strong>&nbsp;<span *ngIf="!editinfo" >{{info.email}}</span> <ion-input *ngIf="editinfo" formControlName="email"  ngMode type="email"  [(ngModel)]="info.email"  disabled></ion-input></ion-row>
                      <ion-row *ngIf="editinfo && login_type=='pass'"><strong>Current Password:</strong>&nbsp; <ion-input  formControlName="current_password"  ngMode type="password"  ></ion-input></ion-row>
                      <ion-row *ngIf="editinfo && login_type=='pass'"><strong>New Password:</strong>&nbsp; <ion-input  formControlName="password"  ngMode type="password"  ></ion-input></ion-row>
                      <ion-row *ngIf="editinfo && login_type=='pass'"><strong>Repeat Password:</strong>&nbsp; <ion-input  formControlName="repeat_password"  ngMode type="password"  ></ion-input></ion-row> 
        <div *ngIf="editinfo">
                <ion-row><button class="form-button-account"  type="submit" expand="block">Update Info</button></ion-row>
        </div>
        </form>          

    </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header (click)="billing_info()">
                <ion-card-title>Billing Information</ion-card-title>
                <ion-icon name="arrow-dropright" *ngIf="!showBilling"></ion-icon>
                <ion-icon name="arrow-dropdown" *ngIf="showBilling"></ion-icon>
        </ion-card-header>        
      
      <ion-card-content *ngIf="showBilling">
              <p *ngIf="info.paypal_email">
                    <strong>Paypal email address: </strong> {{info.paypal_email}}
                    <br/><a (click)="gotopaypal()">Change your paypal email address</a>
              </p>
              <p *ngIf="!info.paypal_email">
                  You didn't update your paypal email address yet. Your paypal email address is nessesacry to receive payment. <a (click)="gotopaypal()">Click here to update your paypal email address</a>
              </p>
      </ion-card-content>
     </ion-card>

     <ion-card>
        <ion-card-header (click)="payout_history()">
                <ion-card-title>Payout History</ion-card-title>
                <ion-icon name="arrow-dropright" *ngIf="!showPayout"></ion-icon>
                <ion-icon name="arrow-dropdown" *ngIf="showPayout"></ion-icon>
        </ion-card-header>        
      
      <ion-card-content *ngIf="showPayout">
          <div *ngIf="!payoutInfo[0]">No payouts issued.</div>
          <div *ngIf="info.total_coupon_uses > 0">
              Total coupons redeemed: {{info.total_coupon_uses}}
          <br/>Life time balance: {{info.total_coupons_amount}}
          </div>
          <div class="rec_info" *ngFor="let payout of payoutInfo;">
            <span class="rec-detail ">  
               <label>Date: </label> {{payout.date}}
              <br/><label>Amount:</label> ${{payout.amount}}
              <br/><label>Status:</label> {{payout.status}}
            </span>  
          </div>
      </ion-card-content>
     </ion-card>
     
     <ion-card >
        <ion-card-header  (click)="show_rec()">
                <ion-card-title>Receipt History</ion-card-title>
                <ion-icon name="arrow-dropright" *ngIf="!showReceipt"></ion-icon>
                <ion-icon name="arrow-dropdown" *ngIf="showReceipt"></ion-icon>
        </ion-card-header>        
      
      <ion-card-content *ngIf="showReceipt">
          <div *ngIf="!receipts">No receipts uploaded yet.</div>
          <div class="rec_info" *ngFor="let item of receipts;" >
              <span class="rec-detail ">  
                   <label>Date:</label> {{item.scanned_date}}
                   <br/><label>Store:</label> {{item.store_name}}
                   <br/><label>Number of coupons found:</label> {{item.num_coupons}}
                   <br/><label>Total credit for receipt:</label> {{item.total_coupon_val}}
              </span>     
           </div>
      </ion-card-content>
     </ion-card>

     <ion-card>
      <ion-card-header (click)="logout()">
              <ion-card-title>Logout</ion-card-title>
              <ion-icon name="arrow-dropright" *ngIf="!openLogout"></ion-icon>
              <ion-icon name="arrow-dropdown" *ngIf="openLogout"></ion-icon>
      </ion-card-header>        
    
    <ion-card-content *ngIf="openLogout" style="text-align: right;">
      <button (click)="logoutNow()" expand="block" class="form-button-account" >Logout</button>
    </ion-card-content>
   </ion-card>


</ion-content>
  
  