ion-slides{
    --bullet-background:#333333;
    background: #0C67FE;
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        position: fixed;
        bottom: 40px;
    }
    .swiper-pagination-bullet{
        opacity:1;
        width:30px;
        height: 6px;
        border-radius: 3px;
        background: #333333;
    }
    .swiper-pagination-bullet-active{
        background: #ffffff;
    }
} 


.slides_holder{
    background: #0C67FE url(./../../../assets/images/new_logo.png) no-repeat 50% 50px;
    background-size: 45%;
    text-align: center;
    padding: 100px 0 0;
    color:#ffffff;
    height: 100%;

    b{
        font-size: 24px;
        display:block;
        line-height: 36px;
        margin: 30px 0;
    }
    .inner_slide{
        display: block;
        margin: 10px 6% 50px;
        p{
            font-size: 20px;
            line-height: 26px;
            margin: 0 20%;
        }
        img{
            width:60%;
            max-width: 300px;
            margin: 25px auto;
            max-height: 260px;
        }
        .start_now_btn{
            background: #3EC9FF;
            color:#ffffff;
            font-size: 28px;
            display: block;
            width:80%;
            text-transform: none;
            text-decoration: none;
            margin: 0 auto;
            text-align: center;
            font-family:Lato;
            font-size: 20px;
            line-height: 50px;
            height: 50px;
            border-radius: 25px;
        }
    }
}

