<ion-content>
  <div class="slides_holder">
  <ion-slides   class="slides" pager="true" >
    <ion-slide>
      <div class="inner_slide slide1">
         <b>Saving isn’t out of style.<br>
       Coupons are.</b>
       <p>Earn big bucks on your favorite kosher foods every time you shop.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="inner_slide slide2">
        <p>Find great deals on your favorite products.<br>Click the + to add them to your list</p>
        <img src="./../../../assets/images/slide2.png">
      </div>
     </ion-slide>
     <ion-slide>
      <div class="inner_slide slide3">
        <p>When you’re done shopping, just snap a pic of your receipt just snap a pic of your receipt</p>
        <img src="./../../../assets/images/redeem_img.png">
      </div>
     </ion-slide>
     <ion-slide>
      <div class="inner_slide slide4">
        <p>Cash out via PayPal, and think about early retirement.</p>
        <img src="./../../../assets/images/slide4.png">
        <a routerLink="/login" class="start_now_btn">Start Now</a>
      </div>
     </ion-slide>
  </ion-slides>
</div>
</ion-content>