
<ion-content>
  <div class="header"><a routerLink=''><ion-icon name="arrow-back"></ion-icon></a><h3>Redeem</h3></div>
  <div class="redeem_hold">
    <img src="./../../../assets/images/redeem_img.png">
    <h3>Take a Picture of Your Receipt</h3>
    <div class="txt">Make sure to be in a well lit area, and try your very best to keep your recepit as smooth as possible.</div> 
    <button class="form-button" (click)="goToCamera()">Continue</button>
</div>
</ion-content>
   
  