.header{
    padding:30px 15px 10px;
    a{
        display: inline-block;
        color :#4A4A4A;
        font-size: 28px;
        font-weight: bold;
        margin-right: 15px;
        line-height: 60px;
        vertical-align: middle;
    }
    h3{
        display: inline-block;
        line-height: 60px;
    }   
}
h3{   
    color:#4A4A4A;
    font-size: 24px;
    font-weight: bold;
    font-family: Lato;
    margin: 0 6%;
    padding: 0;
}
.txt{
    margin: 30px 6%;
    text-align: center;
}
ion-content{--background: #ffffff;}
.redeem_hold{
    margin: 0px 6%;
    text-align: center;
    img{
        width:60%;
        height: auto;
    }
    .form-button{
        display: block;
        width: 80%;
        background: #0C67FE;
        color: #ffffff;
        text-transform: none;
        margin: 0 auto;
        text-align: center;
        font-family: Lato;
        font-size: 20px;
        line-height: 50px;
        height: 50px;
        border-radius: 8px;
        margin-top: 20px;
        max-width: 300px;
    }
}

