.header{
    -webkit-box-shadow: 0px 4px 7px -2px rgba(204,204,204,1);
    -moz-box-shadow: 0px 4px 7px -2px rgba(204,204,204,1);
    box-shadow: 0px 4px 7px -2px rgba(204,204,204,1);
    padding:30px 15px 10px;
    a{
        display: inline-block;
        color :#4A4A4A;
        font-size: 28px;
        font-weight: bold;
        margin-right: 15px;
        line-height: 60px;
        vertical-align: middle;
    }
    h3{
        display: inline-block;
        color:#4A4A4A;
        font-size: 24px;
        font-weight: bold;
        font-family: Lato;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }
}
.txt{
    margin: 30px 6%;
    text-align: center;
}
ion-content{--background: #ffffff;}
.form-button{
    display: block;
    width:80%;
    background: #3EC9FF;
    color: #ffffff;
    text-transform: none;
    margin: 0 auto;
    text-align: center;
    font-family:Lato;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    border-radius: 25px;
}
.input_wrap{
    margin:25px 9% 5px;
    border-bottom:1px solid #000000;
    label{
        font-family:Lato;
        font-size: 18px;
        color: #231F20;
        display: block;
    }
    ion-input{
        --background:none;
    }
}
.error{
    color:red;
    font-size: 12px;
    margin: 0 9%;
}
.form-button{
    margin-top: 30px;
}