<!--<ion-header>
    <ion-toolbar>
      <ion-title>bonus</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>-->

<ion-content>
  <div class="header"><a routerLink='../login'><ion-icon name="arrow-back"></ion-icon></a><h3>Reset Your Password</h3></div>
  <div class="txt">Please enter your email, we will send you a verification link to reset your password</div>
  <form novalidate [formGroup]="forgotForm" (ngSubmit)="forgot()">
    <div class="input_wrap">
      <label>Email</label>
      <ion-input formControlName="email" type="email" ngModel required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
    </div>
    <div class="error" *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched">
      Email is required
    </div>      
    <div class="error" *ngIf="(forgotForm.get('email').hasError('pattern') ||forgotForm.get('email').hasError('email')) && forgotForm.get('email').touched">
      Please enter valid email
    </div>
    <button class="form-button"  type="submit" expand="block">Send Email</button>
  </form>
  <ion-row class="bottomlink"></ion-row>
 </ion-content>
