
  <ion-toolbar>
      <ion-grid>
          <ion-row class="top-deals">
            <ion-col>
              <ion-searchbar placeholder="search brands, products, etc." #dealSearchbar clear-icon autocomplete (ionClear)="cancelSearch()"  (ionInput)="search($event,'')">
              </ion-searchbar>
            </ion-col>
          </ion-row>    
      </ion-grid>    
    </ion-toolbar>



  
<ion-content  has-tabs="true" >
  

      
    <div *ngIf="message; then nodeals else listdeals"></div>    
    
    <ng-template #nodeals>
                          <div class="message">{{message}}</div>
                          <div *ngIf="showClearFilter"><a (click)="clear_filter()">Clear Filter</a></div>
    </ng-template>
    <ng-template #listdeals>
    <ion-grid class="deal_card_grid cards_bg">
    <div *ngIf="showClearFilter"><a (click)="clear_filter()">Clear Filter</a></div>
    <ng-container *ngFor="let item of dataList ;let i = index" >
    <ion-card  class="coupon_card"  *ngIf="dataList[i]" >
        <ion-card-content>
          <div justify-content-center class="img_wrap" (click)="ViewCoupon(dataList[i])">
                <ion-img src="{{imagepath}}{{dataList[i].item_id}}.jpg" class="item_image"></ion-img>
          </div>
          <div class="deal_info">
            <div (click)="ViewCoupon(dataList[i])">                    
              <h3>Save ${{dataList[i].coupon_value}}</h3>
              <ion-label class="item_name" >
                <span [outerHTML]="dataList[i].client_name"></span>
                <br/>
                <span [outerHTML]="dataList[i].item_name"></span>
              </ion-label>
              <div *ngIf="dataList[i].limit_per_user==dataList[i].uses_left && dataList[i].limit_per_user > 0 else remaining" class="info">Limit of {{dataList[i].limit_per_user}} per user</div>
              <ng-template #remaining><div class="info" *ngIf="dataList[i].limit_per_user > 0" >{{dataList[i].uses_left}} remaining uses</div></ng-template>
              <div class="info" [class.soon]="dataList[i].soon > 0">{{dataList[i].soon_date}}</div>
            </div>
            <div class="bottom_deal_card">
              <div class="check" *ngIf="(dataList[i].inlist=='Y')"></div>
              <div class="renew"  *ngIf="(dataList[i].hours_past >=23 && dataList[i].inlist=='Y'  && uses_left(dataList[i].limit_per_user, dataList[i].coupon_uses) > 0)">
                  <a (click)="renewCoupon(dataList[i].coupon_id)" class="renewthis" >
                      Renew Coupon 
                  </a>  
              </div>
              <button ion-button (click)="addCoupon(dataList[i].id)" class="addthis" *ngIf="(dataList[i].inlist=='N' && uses_left(dataList[i].limit_per_user, dataList[i].coupon_uses) > 0)"></button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
     <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>     
   </ng-template>  
   
</ion-content>
<!--<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="overlayHidden">
  <ion-fab-button (click)="filterOn()">
    <ion-icon name="funnel"></ion-icon>
  </ion-fab-button>
</ion-fab>-->
<div class="overlay" padding [hidden]="overlayHidden">
  <div class="filter_wrap">
    <div class="top"><ion-icon name="close" (click)="close_filter()"></ion-icon> Filter Results </div>        
    <div class="filters">
      <div class="filter_row">
        <span [ngClass]="{'open_row':showSort}" class="filter_title" (click)="show_sort()">Sort By</span>    
            <!--<ion-icon name="arrow-dropright" *ngIf="!showSort"></ion-icon>
            <ion-icon name="arrow-dropdown" *ngIf="showSort"></ion-icon>-->
            <div *ngIf="showSort">
              <ion-list>
                  <ion-radio-group >
                    <ion-item lines="none">
                      <ion-label>Brand</ion-label>
                      <ion-radio slot="start" value="brand" checked (ionSelect)="togglesort('brand')" ></ion-radio>
                    </ion-item>
                
                    <ion-item lines="none">
                      <ion-label>Name</ion-label>
                      <ion-radio slot="start" value="item_name" (ionSelect)="togglesort('item_name')" ></ion-radio>
                    </ion-item>
                
                    <ion-item lines="none">
                      <ion-label>Value</ion-label>
                      <ion-radio slot="start" value="coupon_value" (ionSelect)="togglesort('coupon_value')"></ion-radio>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>Expires</ion-label>
                        <ion-radio slot="start" value="end_date" (ionSelect)="togglesort('end_date')" ></ion-radio>
                      </ion-item>
                  </ion-radio-group>
                </ion-list>

          </div>
      </div>
      <div class="filter_row">
        <span [ngClass]="{'open_row':showBrands}"  class="filter_title" (click)="show_brands()">Filter by Brand</span>
        <ul *ngIf="showBrands" >
          <li *ngFor="let brand of brands;let i =index">
              <ion-checkbox name="{{brand}}" [(ngModel)]="filtered_brand[i]"></ion-checkbox>
              <ion-label>{{brand}}</ion-label>
          </li>
        </ul>
      </div>
      <div class="filter_row">
        <span [ngClass]="{'open_row':showCats}"  class="filter_title" (click)="show_cats()">Filter by Category</span>
        <ul *ngIf="showCats">
          <li  *ngFor="let cat of cats;let i =index">
              <ion-checkbox name="{{cat}}" [(ngModel)]="filtered_cats[i]"></ion-checkbox>
              <ion-label>{{cat}}</ion-label>
          </li>
        </ul> 
      </div>
      <div class="filter_row">
        <span [ngClass]="{'open_row':showPrice}"  class="filter_title" (click)="show_price()">Filter by Price</span>
        <ion-item lines="none" *ngIf="showPrice">
          <ion-range dualKnobs="true" min="{{minprice}}" max="{{maxprice}}" color="secondary" pin="true"  [(ngModel)]="filtered_price">
            <ion-label class="start" slot="start">${{minprice}}</ion-label>
            <ion-label class="end" slot="end">${{maxprice}}</ion-label>
          </ion-range>
        </ion-item>
      </div>     
      <div class="filter_row">
        <span [ngClass]="{'open_row':showExp}"  class="filter_title" (click)="show_exp()">Filter by Expiration</span>
        <ion-item lines="none"  *ngIf="showExp">
          <ion-range dualKnobs="true" min="{{minexp}}" max="{{maxexp}}" color="secondary" pin="true" [(ngModel)]="filtered_exp">
            <ion-label class="start" slot="start">{{minexp}}</ion-label>
            <ion-label class="end" slot="end">{{maxexp}}</ion-label>
          </ion-range>
        </ion-item>
      </div> 
    </div>         
    <div class="bottom_area">
      <a (click)="filter_list()" class="blue_btn">Apply Filters</a>
      <a (click)="clear_filter()" class="white_btn">Reset Filters</a>
    </div>            
   </div>
</div>




