ion-toolbar {
  box-shadow: 0 5px 5px -5px #333;
}
.top-deals{
    background-color: #0C67FE;
    ion-col{
      padding-left: 4px;
      padding-right: 8px;
   }
}


.inner_filter {
      width:96%;
}

ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-grid, ion-row, ion-col{
  padding: 0;
  --ion-grid-padding:0;
}

ion-radio-group {
    ion-label{
        padding:0px;
        line-height: 25px;
        font-size: 12px;
    }
    ion-radio {
      margin:0px 10px;
    }
  }    
ion-toolbar{
  --padding-end:0px;
  --padding-bottom:0px;
  --padding-start:0px;
  --padding-top:0px;
}
ion-searchbar {
     margin:0px auto;
     .searchbar-input{
        font-size: 12px!important;
        --color : #C9C9C9;
        padding-left: 45px;
        --background: #fff;
    }
  
}

          div.sorting{
            width:30px;
            height:30px;
            background-color:#0C67FE;
            position:relative;
            border-radius:6px;
            //box-shadow:2px 2px 4px 0 white;
        }
        
        div.sorting:before,div.sorting:after{
            content:'';
            position:absolute;
            width:26px;
            height:4px;
            background-color:red;
            border-radius:2px;
            top:13px;
            box-shadow:0 0 2px 0 #ccc;
        }
        
        div.sorting:before{
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
            left:2px;
        }
        div.sorting:after{
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);
            right:2px;
        }

        a.sortby{
          font-size:13px;
          color:#aaa;
          .arrows{
            
            display: inline-block;
            line-height: 5px;
            margin-left: 5px;
            margin-top: 1px;
          }

          i {
            border: solid #aaa;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 2px;
          }
          .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
          
          .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
     }  
            
a.active {
            color:#0C67FE;
    }   

a.active.asc {
              i.down {
                display:none;
              }
              i {
                border-color:#0C67FE;
              }
}              

a.active.dsc {
  i.up {
    display:none;
  }
  i {
    border-color:#0C67FE;
  }
}              

.coupon { 
    width: 50%;
    padding: 3px 2px;
  }
.cards_bg{
  background: #f1f1f1;  
} 
  .renewthis {
//    background: url(/../../../../assets/images/renew.png) no-repeat 50% 0;
width: 45px;
margin: -20px auto;
padding: 0px;
font-size: 10px;
color: #f22;
font-weight: bold;
display: block;
line-height: 10px;
float: right;
}

.addthis {
  background: none;
  width:21px;
  height: 21px;
  margin: 7px auto;
  padding: 0px;
  position: relative;
}
.addthis:before {
  width:21px;
  height: 5px;
  background:#a7a9ab;
  display: block;
  position: absolute;
  top: 50%;
  margin-top:-2px;
  content:"";
}
.addthis:after {
  width:5px;
  height: 21px;
  background:#a7a9ab;
  display: block;
  position: absolute;
  left: 50%;
  top:0;
  margin-left:-2px;
  content:"";
}
.check {
  width: 25px;
  margin: 6px auto;
  height: 15px;
  border-bottom: 6px solid #0C67FE;
  border-left: 6px solid #0C67FE;
  transform: rotate(-45deg);
}
.col {flex:0 50%; display: flex; box-sizing: border-box}
.row {display: flex;}

ion-grid.deal_card_grid{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
      ion-card {
        margin: 10px 2%;
        border: none;
        box-shadow: none;
        --background: #fff;
        width: 46%;
        box-sizing: border-box;       
          ion-card-content{
            padding: 10px 3%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .deal_info{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              margin-top:12px;
            }
              .item_image{
                  height:80px;
                  margin:auto;
              }
              .item_name {
                  color: #666;
                  font-size: 14px;   
                  padding: 5px 0px;
                  text-align: left;
                  line-height: 16px;
              } 

              h3 {
                  font-size:18px;
                  color:#4a4a4a;
                  font-weight: bold;
                  text-align: left;
                  margin: 0px;
              }
              .info {
                color: #d1d1d1;
                font-size: 12px;
                line-height: 14px;
                display: block;
                text-align: left;
              }
              .bottom_deal_card{
                border-top:1px solid #cfcfcf;
                margin: 5px -3.2% 0px;
                height: 26px;
                text-align: center;
              }    
                     
            }
              
        }
  }
  .message {padding:10px;}
  .soon {color:#f22!important;}


  ion-checkbox {
      margin-right: 10px;
  }

ion-alert {
  .alertCss 
   .alert-wrapper {
     border-radius: 20px;
  }
  .alertButton{
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  }
}

ion-fab-button {
  --background: #0C67FE;
}

.overlay {
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.7);
  z-index: 20;
  top: 0;
  left: 0;
  .filter_wrap{
    background: #fff;
    height: 100%;
    width: 85%;
    max-width:400px;
    min-width: 270px;
    right: 0;
    top:0;
    color:#696969;
    position: absolute;
    .bottom_area{
      position: absolute;
      bottom:0px;
      width:100%;
      a{
        display: block;
        width: 200px;
        line-height: 36px;
        text-align: center;
        margin: 5px auto;
        font-size: 14px;
      }
      .blue_btn{
        color:#fff;
        background: #0c67ff;
        border-radius: 5px;
      }
      .white_btn{
        border:1px solid #75797e;
        border-radius: 5px;
        color:#000;
      }
    }
    .top{
      font-weight: bold;
      padding: 0 0 0 50px;
      margin: 0;
      line-height: 40px;
      position: relative;
      ion-icon{
        position: absolute;
        top:0;
        left:10px;
        font-size: 22px;
        line-height: 40px;
        height: 40px;
      }
    }
    .filters{
      overflow-y: auto;
      height: calc(100% - 130px);
      border-top:1px solid #d4d4d4;
      .filter_row{ 
        margin:0;
        padding: 0 15px;
        border-bottom:1px solid #d4d4d4;
        .filter_title{
          line-height: 40px;
          position: relative;
          display: block;
        }    
        .filter_title:after{
          width: 10px;
          height: 10px;
          border-bottom: 3px solid #afafaf;
          border-left: 3px solid #afafaf;
          transform: rotate(-45deg);
          content: "";
          display: block;
          position: absolute;
          top: 22%;
          right: 0;
        }
        .filter_title.open_row:after{
          transform: rotate(135deg);
          top: 32%;
        }
        ul, li{
          list-style: none;
        }
        ul{
          padding: 0px;
        }
        li{
          padding: 5px 0px;
        }
        ion-label{
          font-size: 14px;
          color:#696969;
          line-height: 32px;
          padding: 0;
          margin: 0;
          vertical-align: middle;
        }
        ion-checkbox{
          vertical-align: middle;
        }
        ion-range{
            margin:30px 0px 0px ;
            padding: 0;
            .start{
              margin-right: 10px;
            }
            .end{
              margin-left: 10px;
            }
        }
      }
    }
    }
  }

.overlayHidden{
  visibility: hidden;
}


@media (min-width: 380px){
  ion-grid.deal_card_grid{
    ion-card {
      border-radius: 10px;
      ion-card-content{
        padding: 10px 6%;
        h3{
          font-size: 22px;
        }
        .bottom_deal_card{
          margin: 5px -6.3% 0px;
          height: 30px;
        } 
        .item_name{
          font-size: 17px;
          line-height: 19px;
        }
        .info{
          font-size: 13px;
          line-height: 15px;
        }
      }
    }      
  }
}




@media (min-width: 580px) {
  ion-grid.deal_card_grid{
      ion-card {
        margin: 1%;
        width: 31%; 
      }
    }
}

