
<ion-content text-left >
  <ion-grid>
    <ion-row justify-content-center>
        <ion-img src="/assets/images/screen.png" style="width:100%;"></ion-img>
      </ion-row>
      <ion-row >
                <ion-col class="banned">
                    <ion-icon name="warning" color="danger"></ion-icon>    
                    We're sorry but your account is disabled.
                </ion-col>
     </ion-row>
    </ion-grid>
   </ion-content>