  
  <ion-content >
    <div *ngIf="loading"><ion-spinner name="bubbles"></ion-spinner></div>
    <div class="paypal-content">Connect with paypal, to cash out every time you hit $50</div>
    <ion-row justify-content-center align-items-center class="hp-buttons">
    <ion-row><ion-button (click)="paypal()" class="paypal-btn"> Connect with <img src="../assets/images/paypal.png"/></ion-button></ion-row>
    <ion-row><ion-button class="form-button" expand="block" href="tabs/deals">Skip</ion-button></ion-row>
</ion-row>
</ion-content>

  