.form-button {
        --background:#3ec9ff!important;
         width:200px!important;

}

ion-row {
    widthL:100%;
    ion-button
       {
        --box-shadow: none;
        --background: transparent;
        width: 200px;
        border-radius: 25px;
       }
       .paypal-btn  {
            background: #253B80 0% 0% no-repeat padding-box;
            opacity: 1;
            text-align: left;
            font: Medium 44px/52px Lato;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
            text-transform: none;
            img {
                width: 72px;
                margin-left: 6px;
            }


       } 

}

.hp-buttons{
    margin-top:20%;
}

ion-back-button {
    display:inline-block!important;
    color:#FFF;
}

.paypal-content {
    margin: 20% auto 0;
    width: 90%;
    padding: 10px;
    color: #231F20;
    font-size: 22px;
    font-weight: bold;
    display: block;
    text-align: center;
}