// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/LATO-REGULAR.TTF');//mine
  }
  
  body {
    --ion-default-font: 'lato';
  }



$main-color:#0C67FE;
$button-bg-color: #3ec9ff;
$button-txt-color: #fff;
$dark-button-color:#1d51d7;
$bg-form :#fff;
$tab-active-color:#0C67FE;
$tab-color:#868686;


ion-content.colored-bg{
    --background: #0C67FE;
    ion-col {
            color:#fff;
        a{
            color:#fff;
        }            
    }
}
ion-title {
        color:$main-color;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
}

.pageTigle{ color:#fff;font-size:14px; text-transform: uppercase}

//ion-item{
 //   background:$bg-form;
//}
ion-button {
    margin:5px auto;
    width:200px;
    --border-radius:0;
}
.bottomlink {
    color:#fff;
    font-size: 14px;
    a {
        color: #fff;
        margin-left: auto;
        margin-right: 12px;
    }
}

ion-tab-button{
    --color-selected:$tab-active-color;
    --color:$tab-color;
    font-size:10px;
}

.active-tab {
    color:$tab-active-color;
}
ion-tabs {
    ion-tab-bar {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
        margin:0px 0px 0px 0px;
        height: 60px;

   } 

   ion-label {
    height: auto;
    background-repeat: no-repeat;
    background-size: 80% auto;
    padding-top: 44px;
    background-position: 50% 30%;
    font-size: 10px;
    background-size: 22px;
   }
   
   ion-tab-button.deals ion-label {
    background-image: url('./assets/images/deals.png');
    background-size: 27px;
   }
   ion-tab-button.lists ion-label {
    background-image: url('./assets/images/lists.png');
    
   }
   ion-tab-button.redeem ion-label {
    background-image: url('./assets/images/redeem.png');
    
   }
   ion-tab-button.account ion-label {
    background-image: url('./assets/images/account.png');
    background-size: 27px;
   }
   ion-tab-button.stores ion-label {
    background-image: url('./assets/images/stores.png');
    background-size: 27px;
   }

   ion-tab-button.deals.tab-selected ion-label, ion-tab-button.deals.active ion-label {
    background-image: url('./assets/images/deals-a.png');
    background-size: 27px;
   }
   ion-tab-button.lists.tab-selected ion-label, ion-tab-button.lists.active ion-label {
    background-image: url('./assets/images/lists-a.png');
    
   }
   ion-tab-button.redeem.tab-selected ion-label, ion-tab-button.redeem.active ion-label {
    background-image: url('./assets/images/redeem-a.png');
    
   }
   ion-tab-button.account.tab-selected ion-label, ion-tab-button.account.active ion-label{
    background-image: url('./assets/images/account-a.png');
    background-size: 27px;
   }
   ion-tab-button.stores.tab-selected ion-label, ion-tab-button.stores.active ion-label{
    background-image: url('./assets/images/stores-a.png');
    background-size: 27px;
   }
   
} 

.tab-wrapper{
                height: 65px;
}

.form-button {
    --background: #3ec9ff;
    --border-radius: 25px;
    --box-shadow: none;
    text-transform: none;
}

.dark-blue-button{
    --background:#0C67FE;
    --border-radius: 25px;
    --box-shadow: none;
    color:#fff;
    text-transform: none;
}    

:host(:hover) .button-native{
    --background:#0C67FE;
    color:#fff;
    --border-radius:25px;
}

.txt-input{
    --background: #0056bd;
    border-radius: 8px;
    --color:#fff;
}
ion-searchbar {
    margin-top: 15px;
    background-color: #0C67FE;
    padding:10px 0px 10px 5px!important;
   
    .searchbar-input{
        font-size: 12px!important;
        padding: 5px 5px 5px 26px!important;
        --color : #C9C9C9;
        padding-left: 45px;
        --background: #fff;
    }
  
}


ion-tab {
    transform: translateY(-200%)!important;
    z-index: -1
    }
    ion-tab.show-tab {
    transform: translateY(0) !important;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
        left:5px;
    }

    .check_wrapper {
        height: 25px;
        text-align: center;
        background: #0C67FE;
        width: 25px;
        margin: 5px auto;
        border-radius: 50%;
        padding-top: 1px;
         .check {
            width: 18px;
            margin: 7px auto;
            height: 8px;
            border-bottom: 4px solid #fff;
            border-left: 4px solid #fff;
            transform: rotate(-45deg);
        }
      }
      ion-slides{        
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
            position: fixed;
            bottom: 40px;
        }
        .swiper-pagination-bullet{
            opacity:1;
            width:30px;
            height: 6px;
            border-radius: 3px;
            background: #333333;
        }
        .swiper-pagination-bullet-active{
            background: #ffffff;
        }
    }