
    <ion-content  has-tabs="true">
      <ion-row class="top-tabs">
         <ion-col  col-2  [class.active]="active_coupons">
            <div [class.active]="active_coupons" (click)="activeCoupons()">My Coupons</div>
         </ion-col>
         <ion-col  col-2 class="r_col" [class.active]="active_alerts">
            <div [class.active]="active_alerts" (click)="activeAlerts()">My Subscriptions</div>
         </ion-col>
      </ion-row>   
      <ion-slides #itemlist>
    
     <ion-slide>
        
        <div *ngIf="!loaded; then nodeals else listdeals"></div>    
        
        <ng-template #nodeals> <div class="message">Loading... <ion-spinner name="bubbles"></ion-spinner></div></ng-template>
       
        <ng-template #listdeals>
        <div *ngIf="dataList.length==0" class="nodeals">
            Add some foods boo.
            <br/>This list feels so empty inside.
            <br/><span>Hit the plus signs to start saving.</span>
            <img src="../assets/images/nodeals.png"/>
        </div>    
        <ion-grid>
        <ion-row *ngFor="let item of dataList;let i = index" class="alert-row">
          <ion-card >
            <ion-card-content>
              <ion-row>
                  <ion-col size="3"  (click)="ViewCoupon(dataList[i])">
                      <img src="{{imagepath}}{{item.item_id}}.jpg" class="itemImage">
                  </ion-col>
                  <ion-col size="7"  (click)="ViewCoupon(dataList[i])">
                      <h3>Save ${{item.coupon_value}}</h3>
                      <div class="item_name">
                          <span [outerHTML]="dataList[i].client_name"></span>
                          <br/>
                          <span [outerHTML]="dataList[i].item_name"></span>
                      </div>
                        <span *ngIf="!item.coupon_uses"> 0 of {{item.limit_per_user}} coupons redeemed</span>
                        <span *ngIf="item.coupon_uses > 0"> {{item.coupon_uses}} of {{item.limit_per_user}} coupons redeemed</span>
                        <div class="expries">{{item.soon_date}}</div>
                  </ion-col>
                  <ion-col size="2">
                    <div class="check_wrapper">
                      <div class="check"></div>
                    </div> 
                    <div class="renew"  *ngIf="(item.hours_past >=23 && dataList[i].inlist=='Y' && uses_left(dataList[i].limit_per_user, dataList[i].coupon_uses) > 0 )">
                        <a (click)="renewCoupon(item.coupon_id)" class="renewthis" >
                            Renew
                        </a>  
                    </div>                   
                  </ion-col>
                  
                  
              </ion-row>
           </ion-card-content>
      </ion-card>
    </ion-row> 
         <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        </ion-grid> 
      </ng-template>  
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <div *ngIf="!loaded; then noalerts else listalerts"></div>    
        
        <ng-template #noalerts><div class="message">Loading...<ion-spinner name="bubbles"></ion-spinner></div></ng-template>
        <ng-template #listalerts>
          <div *ngIf="dataAlerts.length==0" class="nodeals">
              Subscribe to your favorite foods (by hitting that little bell) and we’ll let you know when they’re on special.
              <img src="../assets/images/bell1.png"/>

          </div>
          <ion-row *ngFor="let item of dataAlerts; let i = index;"  class="alert-row" >
            <ion-card >
                  <ion-card-content>
                    <ion-row  (click)="ViewCoupon(dataAlerts[i])">
                        <ion-col size="3">
                            <img src="{{imagepath}}{{item.item_id}}.jpg" class="itemImage">
                        </ion-col>
                        <ion-col size="7">
                            <h3>Save ${{item.coupon_value}}</h3>
                            <div class="item_name">
                              <span [outerHTML]="dataList[i].client_name"></span>
                              <br/>
                              <span [outerHTML]="dataList[i].item_name"></span>
                            </div>
                              <span *ngIf="!item.coupon_uses"> 0 of {{item.limit_per_user}} coupons redeemed</span>
                              <span *ngIf="item.coupon_uses > 0"> {{item.coupon_uses}} of {{item.limit_per_user}} coupons redeemed</span>
                              <div class="expries">{{item.soon_date}}</div>
                        </ion-col>
                        <ion-col size="2">
                            <a (click)="removeAlert(item)" noalerticon><img src="../assets/images/bell-a.png" class="bell"/></a>                          
                        </ion-col>
                      
                    </ion-row>
                 </ion-card-content>
            </ion-card>
          </ion-row>  
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ng-template>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
