
ion-card{
    -webkit-margin-start: 0px; 
    margin-inline-start: 0px; 
    -webkit-margin-end: 0px; 
    margin-inline-end: 0px; 
    margin-bottom:12px;
    box-shadow: none;
    border-bottom:1px solid #aaa;
    border-radius: 0px;
    width:100%;
   
   ion-card-content{
       margin: auto;
       padding: 0 4px!important;
       
    ion-col{
       text-align: left;
       color: #aaa;
       margin: auto 0;
       h3{
           font-size: 20px;
           color:#4a4a4a;
       }
       span {
         color:#edefef;
         font-size: 12px;
       }
       .expries{
         color:#ed3137;
         font-size:13px;
       }
       img.itemImage{
        height: auto;
        margin-left: -5px;
        width: 100%;
        }
       
     }  
       .card-row {
           text-align: center!important;
               .item_name {
                   color: #000!important;
                   font-size: 18px;    
                   line-height: 28px;
                   text-align: center;
                   margin-bottom:30px;
               }    
               h3 {
                   font-size:16px;
                   color:#000;
                   font-weight: bold;
               }
               img {
                   padding-top:10px;
                   }
               .info {
                 color: #000;
                 font-size: 12px;
                 text-align: left;
                 line-height: 22px;
               }    
              
       }
       
   }
}
.addthis {
   margin-left: 6px;
   font-size: 18px;
   color: #000;
   padding: 2px 5px;
   }

   .renewthis {
    //    background: url(/../../../../assets/images/renew.png) no-repeat 50% 0;
    width: 36px;
    margin: 0px auto;
    padding: 0px;
    font-size: 11px;
    color: #f22;
    font-weight: bold;
    display: block;
    line-height: 10px;
    }
    


 .message {padding:10px;}
 .soon {color:#f22!important;}

 .top-tabs {
  font-size:13px;
  font-weight: bold;
  background: #eff1f2;
  color:#aaa;
  cursor: pointer;
  ion-col {
    padding:20px 10px;
    text-align: center;
  }
 .active {
          color:#0c67EF;
          background:#fff;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
        }
}

 .alert-row{
     width:95%;
     margin:auto;
     img.bell{
      max-height: 25px;
      width: auto;
    }
 }

 .nodeals {
   margin-top: 30px;
   text-align: left;
   font: Bold 20px/31px Lato;
   color: #4A4A4A;
   opacity: 1;
   text-align: center;
   padding: 0 10px ;
   span {
    font-size:15px;
    color: #666666;
    opacity: 1;
   }
   img {
    margin: 20% auto 10px;
   }
 }


